body {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    text-align: center;
}

h1 {
    color: white;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #6c63ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #4b47d6;
}

.todo-input {
    display: flex;
    justify-content: space-between;
}

.todo-input input {
    width: 65%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
}

#error {
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
